METADATA filter=lfs diff=lfs merge=lfs -text
prebuilt-intermediates filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
TODO.rst filter=lfs diff=lfs merge=lfs -text
meson-cross-mips.txt filter=lfs diff=lfs merge=lfs -text
autogen.sh filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
meson-cross-armhf.txt filter=lfs diff=lfs merge=lfs -text
assembler filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
lib filter=lfs diff=lfs merge=lfs -text
man filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_MIT filter=lfs diff=lfs merge=lfs -text
NEWS filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
Dockerfile.debian-mips filter=lfs diff=lfs merge=lfs -text
meson.build filter=lfs diff=lfs merge=lfs -text
meson_options.txt filter=lfs diff=lfs merge=lfs -text
meson.sh filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
Dockerfile.debian-armhf filter=lfs diff=lfs merge=lfs -text
m4 filter=lfs diff=lfs merge=lfs -text
MAINTAINERS filter=lfs diff=lfs merge=lfs -text
meson-cross-arm64.txt filter=lfs diff=lfs merge=lfs -text
overlay filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
Dockerfile.fedora filter=lfs diff=lfs merge=lfs -text
benchmarks filter=lfs diff=lfs merge=lfs -text
Dockerfile.debian filter=lfs diff=lfs merge=lfs -text
Dockerfile.debian-arm64 filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
Dockerfile.debian-minimal filter=lfs diff=lfs merge=lfs -text
runner filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
